body, html {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

header {
    width: 100%;
    padding: 
}

header span {
    font-size: 1.5em;
}

#footChart {
    background-color: #DEE5e5;
}